.stream-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
}

.grid-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.grid-wrapper video {
  max-width: 600px;
  width: 100%;
}
